
<body>
    <div class="container mt-5">
        <h1>Carrito de Compras</h1>
        <ul class="list-group mt-3">
            {{#if cart.products.length}}
                {{#each cart.products}}
                    <li class="list-group-item">
                        <p>Producto: {{this.product.title}}</p>
                        <p>Precio: ${{this.product.price}}</p>
                        <p>Categoría: {{this.product.category}}</p>
                    </li>
                {{/each}}
            {{else}}
                <li class="list-group-item">
                    No hay productos en el carrito
                </li>
            {{/if}}
        </ul>

        <div class="mt-3">
            <button class="btn btn-danger mr-2" onclick="borrarCarrito('{{cart._id}}')">Borrar Carrito</button>
            <a href="/products" class="btn btn-primary">Ver Productos</a>
        </div>
    </div>

    <script>
        function borrarCarrito(cartId) {
            if (confirm("¿Estás seguro de que deseas borrar este carrito?")) {
                fetch(`/carts/${cartId}`, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('No se pudo borrar el carrito');
                    }
                    return response.json();
                })
                .then(data => {
                    alert(data.message); 
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Hubo un error al borrar el carrito');
                });
            }
        }
    </script>
</body>
