<div class="container">
    <h1 class="mt-4 mb-4">Carrito</h1>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{this.title}} (code: <span id="code">{{this.code}}</span>)</h3>
            <h4 class="card-subtitle mb-2 text-muted">Categoría: {{this.category}}</h4>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">Precio: ${{this.price}}</p>
        </div>
    </div>
</div>
